.formcard-container {
  min-width: 50%;
  min-height: 40vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0.5rem;
  h2 {
    font-weight: 400;
    font-size: 25px;
  }
  p {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 1rem;
    color: grey;
  }
}
