* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.nav-container {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}
.nav-container .nav-links-container {
  display: flex;
}
.nav-container .nav-links-container p {
  margin: 0 1rem;
  color: #949797;
  cursor: pointer;
  transition: 0.2s ease-in;
  font-weight: 400;
}
.nav-container .nav-links-container p:hover {
  color: #1179ff;
}
.nav-container .nav-profile-container {
  display: flex;
}
.nav-container .nav-profile-container img {
  width: 20px;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 0.8rem;
}
.nav-container .nav-profile-container .nav-profile {
  display: flex;
  align-items: center;
}
.nav-container .nav-profile-container .nav-profile .nav-profile-image {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}
.nav-container .nav-profile-container .nav-profile .nav-profile-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav-container .nav-profile-container .nav-profile p {
  margin-left: 0.7rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(94, 94, 94);
}
.nav-container .nav-profile-container .nav-profile .nav-down-icon {
  width: 15px;
  aspect-ratio: 1;
  margin-left: 5px;
}

.nav-logo-container h3 {
  text-decoration: none;
  color: #000;
  transition: 0.3s ease-out;
}
.nav-logo-container h3:hover {
  color: #1179ff;
}

.btn-container {
  padding: 10px 10px;
  border: none;
  background-color: #daebff;
  color: #1179ff;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 0 10px;
}
.btn-container:hover {
  background-color: transparent;
}

.joblist-container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.jobcard-container {
  width: 300px;
  min-height: 250px;
  background-color: #fff;
  margin: 1rem;
  border-radius: 10px;
  transition: all 0.1s ease-in;
  overflow: hidden;
  border: 1px solid rgba(194, 194, 194, 0.4);
  padding: 0 1.2rem;
  cursor: pointer;
}
.jobcard-container:hover {
  box-shadow: 8px 10px 33px -10px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 8px 10px 33px -10px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 8px 10px 33px -10px rgba(0, 0, 0, 0.67);
}
.jobcard-container .jobcard-caption {
  font-size: 14px;
  color: #a4acb0;
  margin: 0.3rem 0;
}
.jobcard-container .jobcard-tags {
  display: flex;
  padding: 1rem 0;
}
.jobcard-container .jobcard-tags div {
  padding: 5px 0;
  margin: 3px;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid rgba(194, 194, 194, 0.4);
}
.jobcard-container .jobcard-tags div p {
  margin: 0 0.5rem;
  color: #50595a;
  font-size: 12px;
}

.jobcard-header {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.jobcard-header .header-content {
  flex: 2;
}
.jobcard-header .header-content h5 {
  font-size: 14px;
  color: #2a3334;
}
.jobcard-header .header-content p {
  font-size: 12px;
  color: #a4acb0;
}
.jobcard-header .company-logo {
  width: 40px;
  aspect-ratio: 1;
  overflow: hidden;
  margin-right: 0.5rem;
}
.jobcard-header .company-logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.jobcard-header .save-btn {
  width: 17px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.1s ease-in;
  cursor: pointer;
}
.jobcard-header .save-btn:hover {
  transform: scale(1.05);
}

.jobcard-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.jobcard-bottom h3 {
  font-weight: 500;
  color: #1179ff;
}
.jobcard-bottom h3 span {
  color: #a4acb0;
  font-size: 14px;
}

.input-contianer {
  width: 100%;
  margin: 0.5rem 0;
}
.input-contianer label {
  font-size: 15px;
  font-weight: 300;
  color: #717171;
  margin-left: 0.5rem;
}
.input-contianer input {
  background-color: rgba(211, 211, 211, 0.467);
  border: none;
  width: 100%;
  height: 2.6rem;
  padding-left: 1.8rem;
  outline: none;
  font-size: 15px;
  margin-top: 0.2rem;
  border-radius: 5px;
  color: #302f2f;
}
.input-contianer input::-moz-placeholder {
  color: #b5afaf;
}
.input-contianer input::placeholder {
  color: #b5afaf;
}

.formcard-container {
  min-width: 50%;
  min-height: 40vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0.5rem;
}
.formcard-container h2 {
  font-weight: 400;
  font-size: 25px;
}
.formcard-container p {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 1rem;
  color: grey;
}

.postjob-container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.large-btn-container {
  padding: 15px 50px;
  border: none;
  background-color: #1179ff;
  color: #daebff;
  font-weight: 500;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 2rem 0;
}
.large-btn-container:hover {
  transform: scale(0.95);
}/*# sourceMappingURL=index.css.map */